/* 马上就要找工作了 */

/* 我得做一份有点特色的简历 */

/* 说干就干，现在就开始做 */

/* 先初始化一下代码 */

* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

/* 再来个代码框 */

#code {
    position: fixed;
    background: #E7EAED;
    left: 0;
    margin: 20px;
    width: 40%;
    height: 90vh;
    overflow: scroll;
    padding: 10px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

/* 给代码加个高亮 */

.token.comment {
    color: slategray
}

.token.selector {
    color: #690;
}

.token.punctuation {
    color: #999
}

.token.property {
    color: #905;
}

.token.function {
    color: #DD4A68;
}

/* 再换个背景颜色吧 */

body {
    background: #767771;
}

/* 好了，可以正式开始写简历了 */

/* 先做一张用来写简历的纸吧 */

#resume {
    position: fixed;
    background: white;
    right: 0;
    margin: 20px;
    width: 50%;
    height: 90vh;
    overflow: scroll;
    padding: 10px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

/* 好了，这个简历是用Markdown语法写的 */

/* 现在再对这个简历的样式进行一些完善 */

#resume {
    font-family: 楷体;
    padding: 20px
}

#resume>p {
    padding: 5px 20px;
}

/* 来给简历加上一些3D效果吧 */

html {
    perspective: 1000px;
}
#code{
    -webkit-transform: rotateY(10deg) translateZ(-100px) ;
    transform: rotateY(10deg) translateZ(-100px) ;
}
/*即将大功告成了，加个标题吧*/
#resume::before{
    content:'樊凯强的简历';
    position: fixed;
    font-size:40px;
    color:white;
    top:1000px;
    left:500px;
}